/* Cambio de fuentes y colores */

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #007BFF, 0 0 0 0.25rem #227529;
}

/* Fondo con imagen */
body {
  background-color: #02022b;
  color: #fff; /* Color del texto en contraste con el fondo azul marino */
}



/* Ajustes adicionales si es necesario */
